.theme-btn,
.theme-btn-s3,
.theme-btn-s4 {
	background: $theme-primary-color;
	color: $text-color;
	display: inline-block;
	font-weight: 600;
	padding: 15px 45px;
	border: 0;
	text-transform: capitalize;
	-webkit-backface-visibility: hidden;
	z-index: 1;
	position: relative;
	font-size: 16px;
	font-size: 16px;
	transition: all .3s;


	&:after {
		position: absolute;
		left: 5px;
		top: 5px;
		width: 100%;
		height: 100%;
		content: "";
		border: 1px solid $theme-primary-color-s2;
		z-index: -1;
		transition: all .3s;
	}

	&.theme-btn-s3 {
		background: rgba(47, 47, 47, 1);
		color: $white;

		&:after {
			border: 1px solid rgba(47, 47, 47, 0.8);
		}
	}

	&.theme-btn-s4 {
		background: $theme-primary-color;
		color: $text-color;

		&:after {
			border: 1px solid $theme-primary-color;
		}
	}

	&:hover,
	&:focus,
	&:active {
		background: $theme-primary-color-s2;
		color: $text-color;

		&:after {
			border: 1px solid $theme-primary-color-s2;
		}
	}

	&:hover:after {
		opacity: 1;
	}

	@include media-query(991px) {
		font-size: 18px;
	}

	@include media-query(767px) {
		padding: 12px 18px;
		font-size: 14px;
	}
}

.theme-btn-s2 {
	background: $section-bg-color;
	color: $text-color;
	display: inline-block;
	font-weight: 600;
	padding: 15px 45px;
	border: 1px solid $border-color;
	text-transform: capitalize;
	-webkit-backface-visibility: hidden;
	z-index: 1;
	position: relative;
	font-size: 16px;
	font-size: 16px;
	transition: all .3s;

	z-index: 1;
	position: relative;

	@include media-query(991px) {
		font-size: 14px;
		font-size: 14px;
	}

	&:hover,
	&:focus,
	&:active {
		background: $theme-primary-color;
		color: $text-color;
		border-color: $theme-primary-color;
	}

	@include media-query(767px) {
		padding: 12px 18px;
		font-size: 13px;
	}
}


.theme-btn-s4 {
	&:hover {
		background: darken($theme-primary-color, 6%);

		&:after {
			border: 1px solid darken($theme-primary-color, 6%);
		}
	}

}



.view-cart-btn {
	@extend .theme-btn;
	display: block;
	margin-top: 15px;
	border-radius: 5px;
	padding: 10px 45px;
	background: $theme-primary-color;
	color: $text-color;



	&:after {
		display: none;
	}

	&:hover {
		background-color: $theme-primary-color-s2;
	}

	&.s1 {
		background: $section-bg-color;
		color: $text-color;
		border: 1px solid $border-color;

		&:hover {
			background-color: $theme-primary-color;
			color: $text-color;
		}
	}

}