/*--------------------------------------------------------------
20. wpo-contact-pg-section
--------------------------------------------------------------*/
.wpo-contact-pg-section {
	padding-bottom: 0px;
	position: relative;
	z-index: 0;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, $theme-primary-color-s2 70%, transparent 100%);

	// top fade overlay for the section right after the banner (Contact)
	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 60px; // match About/Inspiration fade height
		pointer-events: none;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.334) 0%, rgba(255, 255, 255, 0) 100%);
		z-index: 2;
	}

	.container {
		position: relative;
		z-index: 1; // content under fade to make the top visibly fade
	}

	// When reusing the homepage contact form (RSVP) here,
	// pull it slightly into the map below to recreate the old overlap effect.
	.wpo-contact-section.section-padding {
		padding-bottom: 0; // remove extra space below the section
		margin-bottom: -125px; // overlap onto the map
		position: relative;
		z-index: 99;
	}


	.wpo-contact-title {
		max-width: 440px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 50px;

		@media(max-width:767px) {
			margin-bottom: 30px;
		}

		h2 {
			font-size: 35px;
			font-size: calc-rem-value(35);
			font-weight: 700;
			margin-bottom: 20px;

			@media(max-width:575px) {
				font-size: 25px;
				font-size: calc-rem-value(25);
			}
		}
	}

	form input,
	form select,
	form textarea {
		background: white;
		width: 100%;
		height: 50px;
		border: 1px solid transparent;
		border-radius: 0px;
		box-shadow: none !important;
		padding-left: 25px;
		border: 1px solid #ebebeb;

		@include media-query(991px) {
			height: 45px;
		}

		&:focus {
			border-color: $theme-primary-color;
			background: $white;
		}
	}

	form textarea {
		height: 180px;
		padding-top: 15px;
	}

	form {
		margin: 0 -15px;
		overflow: hidden;

		@include placeholder-style(#9d9c9c, 15px, normal);

		select {
			display: inline-block;
			color: #a9a9a9;
			cursor: pointer;
			opacity: 1;
			padding: 6px 25px;
			font-size: 15px;
			font-size: calc-rem-value(15);
			-webkit-appearance: none;
			-ms-appearance: none;
			-o-appearance: none;
			appearance: none;
			-moz-appearance: none;
			background: transparent url(/images/select-icon2.png) no-repeat calc(100% - 15px) center;
			position: relative;

			&:focus {
				background: transparent url(/images/select-icon2.png) no-repeat calc(100% - 15px) center;
			}
		}

		.submit-area {
			text-align: center;
			width: 100%;
			margin-bottom: 10px;
			margin-left: 0;

			@include media-query(767px) {
				margin-bottom: 0;
			}

			.theme-btn {
				border-radius: 0px;
				font-family: $base-font;
				font-size: 16px;

				&:after {
					border-radius: 0px;
				}
			}
		}
	}

	form>div {
		float: left;
		margin: 0 15px 25px;

		@include media-query(600px) {
			width: calc(100% - 25px);
			float: none;
		}
	}

	form .fullwidth {
		width: calc(100% - 25px);
		float: none;
		clear: both;
	}

	.office-info {
		padding-bottom: 100px;

		@media(max-width:767px) {
			padding-bottom: 60px;
		}

		// ensure equal height columns
		.row {
			align-items: stretch;
		}

		.col {

			.office-info-item {
				@media(max-width:1200px) {
					margin-bottom: 30px;
				}
			}

			&:last-child {
				.office-info-item {
					@media(max-width:1200px) {
						margin-bottom: 0px;
					}
				}
			}

		}

		.office-info-item {
			text-align: center;
			box-shadow: 0px 5px 15px 0px rgba(203, 203, 203, 0.1);
			padding: 40px;
			background: $light; // greyish main tile color
			border-radius: 12px;
			border: 1px solid rgba(130, 130, 130, 0.08);
			height: 100%;
			min-height: 220px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			transition: transform .25s ease, box-shadow .25s ease, background-color .25s ease, border-color .25s ease;

			&:hover {
				transform: translateY(-6px);
				box-shadow: 0px 12px 30px 0px rgba(86, 86, 86, 0.2);
				border-color: rgba(115, 115, 115, 0.2);
				background: white;
			}

			.office-info-icon {
				width: 85px;
				height: 85px;
				background: $white; // invert to keep contrast on grey tiles
				line-height: 85px;
				text-align: center;
				margin: 0 auto;
				@include rounded-border(50%);
				transition: background-color .25s ease, transform .25s ease;

				.icon {
					.fi {
						&:before {
							font-size: 35px;
							color: $theme-primary-color-s2;
							transition: color .25s ease;
						}
					}
				}
			}

			&:hover .office-info-icon {
				background: gray;
				transform: scale(1.05);
			}

			&:hover .office-info-icon .icon .fi:before {
				color: $white;
			}

			.office-info-text {
				h2 {
					font-size: 30px;
					font-weight: 500;
					margin: 20px 0;
				}

				p {
					margin-bottom: 0;
				}
			}
		}

	}

	.wpo-contact-form-area {
		padding: 50px;
		background: white;
		box-shadow: 0px 1px 15px 0px rgba(90, 90, 90, 0.1);
		margin-bottom: -125px;
		position: relative;
		z-index: 99;
		padding-bottom: 30px;

		@media(max-width:767px) {
			padding: 30px;
			padding-top: 50px;
		}

		form {
			p {
				color: red;
				font-size: 14px;
			}

			.form-submit {
				text-align: center;
			}
		}
	}


}

.wpo-contact-map-section {
	.wpo-contact-map {
		height: 550px;
	}

	iframe {
		width: 100%;
		height: 100%;
		border: 0;
		outline: 0;
		filter: grayscale(100%);
	}

	h2.hidden {
		display: none;
	}
}